/* Interview */

* {
	box-sizing: border-box;
}

body {
	background-color: #66306f;
	color: black;
	font-family: 'Russo One', sans-serif, Helvetica, Arial, sans-serif; 
	font-weight: normal;
	line-height: 1.25;
	font-size: 16px;
	margin: 0.25em;
	border: 20px solid #fff8a3fa;
    margin: 83px;
    padding: 123px;
}
section {
    max-width: 40em;
    margin: 0 auto;
    padding: 1em 0;
	transition: all 0.7s ease;
	transform: scale(1);
    filter: blur(4px);
}
section:hover {
	transform: scale(1.5);
	filter: blur(0px);
}
section h4 {
	transition: all 0.7s ease;
}
section p {
	transition: all 0.7s ease;
}
section h4:hover {
	color: #fff8a3fa;
}
section p:hover {
	color: #fff8a3fa;
}
h1 {
	color: white; 
	font-size: 100px;
	text-align: center;
	line-height: 1;
	max-width: 40em;
    margin: 0 auto;
    padding: .5em 0;
    text-shadow: 4px 4px black;

}
h2 {
	color: #fff8a3fa;
	font-size: 110px;
	text-align: center;
	line-height: 1;
	max-width: 40em;
    margin: 0 auto;
    padding: 0em 0;
    text-shadow: 4px 4px black;
    transition: all 0.7s ease;
    transform: scale(1);
}
h2:hover {
	transform: scale(1.28);
	color: #ff469cd4;
	text-shadow: 3px 3px white;
}
h3 {
	color: white;
	font-size: 40px;
	text-decoration: none;
	text-align: center;
	line-height: 1;
	max-width: 40em;
    margin: 0 auto;
    padding: 2em 0;
    text-shadow: 3px 3px black;
    transition: all .7s ease;
    transform: scale(1);
}
h3:hover {
	color: #fff8a3fa;
	transform: scale(1.28);
	text-decoration: underline;
}
h4 {
	color: white;
	font-size: 20px;
}
p {
	color: black;
	font-size: 20px;
}